*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header{
    display: flex;
    height: 80px;
    justify-content:space-around;
    background-color: orange;
    align-items: center;
    padding: 10px;
    position: fixed;

    width: 100%;
    top: 0;
    left: 0;

}

nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    margin: 0 auto;
}

.buscar {
    width: 500px;
}

.nav-menu{
    display: flex;
    margin: 40px;
    list-style: none;
}

.nav-link {
    color: white;
}

a{
    text-decoration: none;
    color: aliceblue;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo-nav-link img{
    padding-top: px;
    height: 80px;
    width: 80px;
    border-radius: 100%;
    margin-right: 0;

}

.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link{
    padding: 8px 12px;
    line-height: 70px;
}

.nav-menu-link:hover {
    background-color:white;
    color:orange;
    border-radius: 3px;
    transition: 0.5s;
}

.nav-toggle{
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;

    display: none;
}

main{
    margin-top: 100px;
    margin-bottom: 20px;
}


  .end{
    display: flex;
    justify-content: center;
    height: 20px;
    line-height: 20px;
    background: orange;
  }

@media(max-width: 768px){

    body{
        padding-top: 60px;
    }
    
    header{
        min-height: 60px;
    }

    main {
        margin-top: 40px;
        margin-bottom: 20px;
    }
    
    nav{
        display: contents;
        justify-content: space-between;
    }
    
    .nav-menu{
        flex-direction: column;
        align-items: center;
        margin: 20px;
        background-color: whitesmoke;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;

        height: calc(100%-60px);
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;
    }
    
    .nav-link {
        color: white;
    }
    
    a{
        text-decoration: none;
        color: aliceblue;
    }
    
    nav a{
        font-weight: 600;
        padding-right: 10px;
    }
    
    .logo{
        display: flex;
        align-items: center;
    
    }
    
    .logo-nav-link img{
        height: 60px;
        width: 60;
        margin-right: 10px;
        border-radius: 100%;
    
    }
    
    .nav-menu-item{
        font-size: 18px;
        margin: 0 10px;
        text-transform: uppercase;
        width: max-content;
    }
    
    .nav-menu-link:hover,
    .nav-menu-link_active {
        background-color: none;
        color: orange;
        transition: 0.3s;

    }    
    .nav-toggle{
        display: block;
    }

    .nav-menu_visible{
        left: 0;
    }
}